<a href="https://colab.research.google.com/github/hurudisomanna705/Simple-Calculator/blob/main/calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a=float(input('number1:'));
b=float(input('number2:'));
operator=input('sign:');
def add(a,b):
  A=a+b;
  print(A)
def sub(a,b):
  B=a-b;
  print(B)
def mult(a,b):
  C=a*b;
  print(C)
def div(a,b):
  D=a/b;
  print(D)
def rem(a,b):
  E=a%b;
  print(E)
#= -assign; == - compare
if(operator=='+'):
  add(a,b);
elif(operator=='-'):
  sub(a,b);
elif(operator=='*'):
  mul(a,b);
elif(operator=='/'):
  div(a,b);
elif(operator=='%'):
  rem(a,b);
else:
  print('invalid' )

number1:2
number2:3
sign:/
0.6666666666666666

In [7]:
#quadratic solve
import cmath
a=int(input('a:'));
b=int(input('b:'));
c=int(input('c:'));
d=b**2-4*a*c;
z1=(-b+cmath.sqrt(d)/(2*a));
z2=(-b-cmath.sqrt(d)/(2*a));
print(z1,z2)

a:2
b:3
c:4
(-3+1.1989578808281798j) (-3-1.1989578808281798j)

In [11]:
#factorial
n=int(input('number:'));
fact=1;
if n<0:
  print('invalid')
elif n==0:
  print('factorial is 1') ;
else:
  for i in range(1,n+1):
    fact=fact*i
    print(fact)

number:0
factorial is 1

In [40]:
#reverse number
def rev_number(n):
  rev_number=0
  while n>0:
    d=n%10
    rev_number=rev_number*10+d
    n=n//10
  return rev_number
n=int(input('number:'));
rev_number=rev_number(n)
print(rev_number)

number:123
321

In [24]:
#swap number without using temporary variable
a=1;
b=2;
a,b=b,a;
print(a,end="")
print(b)

21

In [29]:
#calender
import calendar
year=int(input('year:'));
month=int(input('month:'));
cal=calendar.month(year,month)
print(cal)

year:2024
month:4
     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [9]:

from operators import *
a=float(input('number1:'));
b=float(input('number2:'));
operator=input('sign:');
#= -assign; == - compare
if(operator=='+'):
  add(a,b);
elif(operator=='-'):
  sub(a,b);
elif(operator=='*'):
  mul(a,b);
elif(operator=='/'):
  div(a,b);
elif(operator=='**'):
  exp(a,b);
elif(operator=='%'):
  rem(a,b);
else:
 print('invalid')

number1:2
number2:2
sign:+
4.0